@page "/checkout"
@using Database
@using DynamicTechShop.Models



    @foreach (var product in ShoppingCartList.shoppingCart)
    {
        

        <div class="d-flex card mt-3 ">
            <h1>@product.Name</h1>
            <h2>$@product.Price</h2>

         
        </div>
    }
<button class="btn btn-warning" @onclick="AddToOrderList">Checkout!</button>
    <p>Total Price : $@totalPrice </p>




@code {
    public double totalPrice;

    protected override void OnInitialized()
    {
        CalculatePrice();
        base.OnInitialized();
    }

    public void CalculatePrice()
    {
        foreach (var item in ShoppingCartList.shoppingCart)
        {
            totalPrice += item.Price;
        }
    }



    public void AddToOrderList()
    {

        OrderModel orderToAdd = new OrderModel()
        {
            Price = totalPrice,
            OrderDate = DateTime.Now,
        };
        OrderList.orders.Add(orderToAdd);

  
      

    }
}
