@page "/orders"
@using Database

<h3>Orders</h3>


@foreach (var order in OrderList.orders)
{


    <div class="d-flex card mt-3 ">
        <h1>Total price $@order.Price</h1>
        <h2>Order placed: @order.OrderDate</h2>


    </div>
}
@code {

}
